# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# output
*.lcov
dist/
api/

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
server/.env

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

node_modules
_legacy_backup
neko.db*
.vercel
.env*.local